* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "acumin-pro", sans-serif;
	font-style: normal;
	font-weight: 400;
}

body {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	text-shadow: 0px 0px 20px #242424;
	height: 100vh;
}
h1 {
	font-size: 5rem;
}

.info-section {
	display: flex;
	justify-content: space-between;
	border: 2px dotted red;
	padding: 1.5rem;
	padding-right: 0px;
}

.weather-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2rem;
}

.weather-city {
	width: 100%;
	text-align: center;
	margin-top: -15px;
}

.quote-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dotted red;
}
.quote {
	max-width: 80%;
	padding: 0.5rem 1rem 0 1rem;
	font-size: 1.5rem;
	text-align: center;
}

.quote-author {
	color: rgb(221, 221, 221);
	font-size: 1.2rem;
}

.credits-section {
	border: 2px dotted red;
	padding: 1.5rem;
}
